## Predicting Gender from Height and Weight data of celebrities
## k-means-clustering-using-sklearn-cluster

** k-means-clustering-using-sklearn-cluster

** This program guesses whether someone is a boy or a girl based on their height and weight/

** I got the idea from just browsing the internet trying to think of some kind of data (maybe to do with attractiveness ? but then thinking I didn't want to overcomplicate my first solution to a probelm

** I got celebrity height and weight data from http://www.celeb-height-weight.psyphil.com/ (using scraping)

** I learnt that maybe nearest neighbough or kmeans clustering might work best

** after some googling I found an example using a dataset that also had two features (columns)

https://stackoverflow.com/questions/34113790/k-means-clustering-using-sklearn-cluster

In [1]:
import numpy as np
import sklearn
import tensorflow
import pandas
import matplotlib.pyplot as plt

In [2]:
import numpy
from urllib.request import urlopen
html = urlopen("http://www.celeb-height-weight.psyphil.com/")
print(html)

page = html.read()



from bs4 import BeautifulSoup


soup = BeautifulSoup(page)

<http.client.HTTPResponse object at 0x7f84e25f4400>

/usr/lib/python3/dist-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [3]:
data   = []
labels = []
count = 0

for tr in soup.find_all('tr')[1:]:
    tds = tr.find_all('td')
    #print(tds[0].text)
    labels.append([tds[0].text.strip('\n')])
    #labels.append("foo")    
    
    
    if "lbs" in tds[2].text:
        if "died" in tds[2].text:
            #print(tds[2].text.strip(' lbs (when died)'))
            weight = tds[2].text.strip(' lbs (when died)')
            weight = float(weight)
            #print(weight)
            #raise ValueError('A very specific bad thing happened')
        else:
            weight = numpy.array(tds[2].text.strip(' lbs').split("-"))
            averageWeight = numpy.mean(weight.astype(np.float))
            weight = averageWeight
    
    # Convert weight from lb into kg
    weightKg = float(weight) * 0.453592
    
    #get Height CM
    height = float(tds[1].text.split(' cms')[0].split('/')[1])
    #print(height)
    
    person = [height,  weightKg, str(tds[0].text.split('\n')[1])]
    data.append(person)

    count = count + 1

data.append([158,64, 'Marta Formenton'])
data.append([176,71.6, 'Vince Lynch'])

In [4]:
print(data)

[[177.8, 52.49873808, 'Adriana Lima'], [167.64, 54.4990788, 'Alicia Keys'], [170.18, 77.50072912, 'Al Pacino'], [173.99, 47.50015424, 'Amber Valletta'], [172.72, 55.49924916, 'Angelina Jolie'], [172.72, 54.4990788, 'Anna Kournikova'], [170.18, 56.499419520000004, 'Ashley Judd'], [157.48, 51.500835679999994, 'Avril Lavigne'], [174.0, 58.49976024, 'Bar Rafaeli'], [168.91, 77.50072912, 'Ben Stiller'], [167.64, 59.499930600000006, 'Beyonce Knowles'], [172.72, 56.499419520000004, 'Blake Lively'], [180.34, 90.50067583999999, 'Brad Pitt'], [162.56, 49.50049496, 'Britney Spears'], [181.61, 94.50135728, 'Bruce Willis'], [167.64, 44.49964316, 'Calista Flockhart'], [173.99, 54.4990788, 'Cameron Diaz'], [179.07, 51.500835679999994, 'Carmen Kass'], [160.02, 51.500835679999994, 'Carmen Electra'], [160.02, 51.500835679999994, 'Carrie Underwood'], [173.99, 54.4990788, 'Cate Blanchett'], [172.72, 58.49976024, 'Catherine Zeta Jones'], [176.53, 59.499930600000006, 'Charlize Theron'], [182.88, 86.49999439999999, 'Christian Bale'], [156.21, 47.50015424, 'Christina Aguilera'], [177.8, 52.49873808, 'Christy Turlington'], [172.72, 60.50010096, 'Ciara'], [177.8, 54.4990788, 'Cindy Crawford'], [170.18, 54.4990788, 'Cindy Margolis'], [167.64, 50.49839736, 'Claire Danes'], [175.26, 58.49976024, 'Courtney Love'], [166.37, 54.4990788, 'Daniel Radcliffe'], [179.07, 83.49948332, 'Daniel Craig'], [167.64, 54.4990788, 'Denise Richards'], [162.56, 55.49924916, 'Drew Barrymore'], [158.75, 50.49839736, 'Elisha cuthbert'], [182.88, 58.49976024, 'Elle MacPherson'], [158.75, 49.50049496, 'Emily Osment'], [157.48, 61.50027131999999, 'Emma Bunton'], [157.48, 47.50015424, 'Eva Longoria'], [175.26, 55.49924916, 'Faith Hill'], [158.75, 49.50049496, 'Fergie  / Stacy Ferguson'], [160.02, 47.50015424, 'Fiona Apple'], [180.34, 86.49999439999999, 'George Clooney'], [157.48, 48.5003246, 'Geri Halliwell'], [180.34, 54.4990788, 'Gisele Bundchen'], [167.64, 52.49873808, 'Gwen Stefani'], [175.26, 52.49873808, 'Gwyneth Paltrow'], [166.37, 52.49873808, 'Halle Berry'], [165.1, 50.49839736, 'Heather Locklear'], [175.26, 54.4990788, 'Heidi Klum'], [154.94, 57.49958988, 'Hilary Duff'], [193.04, 136.49944056, 'Hulk Hogan'], [175.26, 77.50072912, 'Jason Statham'], [163.0, 49.50049496, 'Jenna Jameson'], [167.64, 54.4990788, 'Jessica Alba'], [171.45, 50.49839736, 'Jessica Biel'], [160.02, 55.49924916, 'Jessica Simpson'], [163.83, 51.500835679999994, 'Jennifer Aniston'], [172.72, 52.49873808, 'Jennifer Garner'], [158.75, 54.4990788, 'Jennifer Love Hewitt'], [166.37, 56.499419520000004, 'Jennifer Lopez'], [170.18, 55.49924916, 'Jenny McCarthy'], [167.64, 53.50117639999999, 'Jewel Kilcher'], [187.96, 62.50044168000001, 'Jodie Kidd'], [177.8, 71.49970696, 'Johnny Depp'], [172.72, 55.49924916, 'Julia Roberts'], [170.18, 53.50117639999999, 'Julia Stiles'], [185.42, 73.50004768000001, 'Justin Timberlake'], [172.72, 54.4990788, 'Kate Beckinsale'], [167.64, 53.50117639999999, 'Kate Hudson'], [175.26, 55.49924916, 'Katherine Heigl'], [175.26, 54.4990788, 'Katie Holmes'], [167.64, 48.5003246, 'Kate Moss'], [170.18, 47.50015424, 'Keira Knightley'], [162.56, 53.50117639999999, 'Keri Russell'], [167.64, 49.50049496, 'Kirsten Dunst'], [163.0, 48.0013734, 'Kristen Stewart'], [157.48, 47.50015424, 'Lacey Chabert'], [170.18, 56.499419520000004, 'Laetitia Casta'], [165.1, 52.49873808, 'Leann Rimes'], [181.61, 76.50055875999999, 'Leonardo Dicaprio'], [165.1, 63.50061204, 'Lil Wayne'], [165.1, 49.50049496, 'Lindsay Lohan'], [172.72, 55.49924916, 'Lisa Kudrow'], [177.8, 58.49976024, 'Lucy Lawless'], [162.56, 47.50015424, 'Madonna'], [177.8, 58.49976024, 'Mandy Moore'], [175.26, 57.49958988, 'Mariah Carey'], [173.99, 76.50055875999999, 'Mark Wahlberg'], [177.8, 72.49987732, 'Matt Damon'], [163.0, 50.00171412, 'Megan Fox'], [175.0, 50.802304, 'Michael Jackson'], [164.0, 48.0013734, 'Miley Cyrus'], [172.72, 55.49924916, 'Milla Jovovich'], [177.8, 51.500835679999994, 'Naomi Campbell'], [162.56, 50.49839736, 'Natalie Portman'], [179.07, 55.49924916, 'Nicole Kidman'], [154.94, 44.49964316, 'Nicole Richie'], [179.07, 68.00024468000001, 'Orlando Bloom'], [170.18, 47.50015424, 'Pam / Pamela Anderson'], [172.72, 52.49873808, 'Paris Hilton'], [178.0, 48.9992758, 'Patrick Swayze'], [172.72, 49.50049496, 'Penelope Cruz'], [168.0, 51.500835679999994, 'Rachelle Lefevre'], [157.48, 46.49998388, 'Rachael Leigh Cook'], [157.0, 48.0013734, 'Rachel Miner'], [180.34, 76.50055875999999, 'Raven Symone'], [172.72, 51.500835679999994, 'Rebecca Gayheart'], [180.34, 58.49976024, 'Rebecca Romijn-Stamos'], [157.48, 52.49873808, 'Reese Witherspoon'], [172.72, 59.499930600000006, 'Rihanna'], [185.0, 78.99985068000001, 'Robert Pattinson'], [187.96, 81.00019139999999, 'Rodrigo Santoro'], [160.02, 46.49998388, 'Rose McGowan'], [177.8, 62.50044168000001, 'Rupert Grint'], [172.72, 68.99814708000001, 'Ryan Seacrest'], [170.18, 52.49873808, 'Sandra Bullock'], [157.48, 53.50117639999999, 'Salma Hayek'], [160.02, 46.49998388, 'Sarah Michelle Gellar'], [162.0, 50.999616520000004, 'Scarlett Johansson'], [157.48, 58.49976024, 'Shakira'], [175.26, 49.50049496, 'Shannon Elizabeth'], [162.56, 49.50049496, 'Shania Twain'], [177.8, 98.99872196, 'Sylvester Stallone'], [177.8, 55.49924916, 'Tyra Banks'], [165.1, 50.49839736, 'Tara Reid'], [167.64, 48.5003246, 'Teri Hatcher'], [180.34, 52.49873808, 'Taylor Swift'], [167.64, 49.50049496, 'Victoria Beckham'], [182.88, 98.99872196, 'Vin Diesel'], [167.64, 54.4990788, 'Zooey Deschanel'], [158, 64, 'Marta Formenton'], [176, 71.6, 'Vince Lynch']]

In [5]:
data = numpy.array(data)
print(data)

[['177.8' '52.49873808' 'Adriana Lima']
 ['167.64' '54.4990788' 'Alicia Keys']
 ['170.18' '77.50072912' 'Al Pacino']
 ['173.99' '47.50015424' 'Amber Valletta']
 ['172.72' '55.49924916' 'Angelina Jolie']
 ['172.72' '54.4990788' 'Anna Kournikova']
 ['170.18' '56.499419520000004' 'Ashley Judd']
 ['157.48' '51.500835679999994' 'Avril Lavigne']
 ['174.0' '58.49976024' 'Bar Rafaeli']
 ['168.91' '77.50072912' 'Ben Stiller']
 ['167.64' '59.499930600000006' 'Beyonce Knowles']
 ['172.72' '56.499419520000004' 'Blake Lively']
 ['180.34' '90.50067583999999' 'Brad Pitt']
 ['162.56' '49.50049496' 'Britney Spears']
 ['181.61' '94.50135728' 'Bruce Willis']
 ['167.64' '44.49964316' 'Calista Flockhart']
 ['173.99' '54.4990788' 'Cameron Diaz']
 ['179.07' '51.500835679999994' 'Carmen Kass']
 ['160.02' '51.500835679999994' 'Carmen Electra']
 ['160.02' '51.500835679999994' 'Carrie Underwood']
 ['173.99' '54.4990788' 'Cate Blanchett']
 ['172.72' '58.49976024' 'Catherine Zeta Jones']
 ['176.53' '59.499930600000006' 'Charlize Theron']
 ['182.88' '86.49999439999999' 'Christian Bale']
 ['156.21' '47.50015424' 'Christina Aguilera']
 ['177.8' '52.49873808' 'Christy Turlington']
 ['172.72' '60.50010096' 'Ciara']
 ['177.8' '54.4990788' 'Cindy Crawford']
 ['170.18' '54.4990788' 'Cindy Margolis']
 ['167.64' '50.49839736' 'Claire Danes']
 ['175.26' '58.49976024' 'Courtney Love']
 ['166.37' '54.4990788' 'Daniel Radcliffe']
 ['179.07' '83.49948332' 'Daniel Craig']
 ['167.64' '54.4990788' 'Denise Richards']
 ['162.56' '55.49924916' 'Drew Barrymore']
 ['158.75' '50.49839736' 'Elisha cuthbert']
 ['182.88' '58.49976024' 'Elle MacPherson']
 ['158.75' '49.50049496' 'Emily Osment']
 ['157.48' '61.50027131999999' 'Emma Bunton']
 ['157.48' '47.50015424' 'Eva Longoria']
 ['175.26' '55.49924916' 'Faith Hill']
 ['158.75' '49.50049496' 'Fergie  / Stacy Ferguson']
 ['160.02' '47.50015424' 'Fiona Apple']
 ['180.34' '86.49999439999999' 'George Clooney']
 ['157.48' '48.5003246' 'Geri Halliwell']
 ['180.34' '54.4990788' 'Gisele Bundchen']
 ['167.64' '52.49873808' 'Gwen Stefani']
 ['175.26' '52.49873808' 'Gwyneth Paltrow']
 ['166.37' '52.49873808' 'Halle Berry']
 ['165.1' '50.49839736' 'Heather Locklear']
 ['175.26' '54.4990788' 'Heidi Klum']
 ['154.94' '57.49958988' 'Hilary Duff']
 ['193.04' '136.49944056' 'Hulk Hogan']
 ['175.26' '77.50072912' 'Jason Statham']
 ['163.0' '49.50049496' 'Jenna Jameson']
 ['167.64' '54.4990788' 'Jessica Alba']
 ['171.45' '50.49839736' 'Jessica Biel']
 ['160.02' '55.49924916' 'Jessica Simpson']
 ['163.83' '51.500835679999994' 'Jennifer Aniston']
 ['172.72' '52.49873808' 'Jennifer Garner']
 ['158.75' '54.4990788' 'Jennifer Love Hewitt']
 ['166.37' '56.499419520000004' 'Jennifer Lopez']
 ['170.18' '55.49924916' 'Jenny McCarthy']
 ['167.64' '53.50117639999999' 'Jewel Kilcher']
 ['187.96' '62.50044168000001' 'Jodie Kidd']
 ['177.8' '71.49970696' 'Johnny Depp']
 ['172.72' '55.49924916' 'Julia Roberts']
 ['170.18' '53.50117639999999' 'Julia Stiles']
 ['185.42' '73.50004768000001' 'Justin Timberlake']
 ['172.72' '54.4990788' 'Kate Beckinsale']
 ['167.64' '53.50117639999999' 'Kate Hudson']
 ['175.26' '55.49924916' 'Katherine Heigl']
 ['175.26' '54.4990788' 'Katie Holmes']
 ['167.64' '48.5003246' 'Kate Moss']
 ['170.18' '47.50015424' 'Keira Knightley']
 ['162.56' '53.50117639999999' 'Keri Russell']
 ['167.64' '49.50049496' 'Kirsten Dunst']
 ['163.0' '48.0013734' 'Kristen Stewart']
 ['157.48' '47.50015424' 'Lacey Chabert']
 ['170.18' '56.499419520000004' 'Laetitia Casta']
 ['165.1' '52.49873808' 'Leann Rimes']
 ['181.61' '76.50055875999999' 'Leonardo Dicaprio']
 ['165.1' '63.50061204' 'Lil Wayne']
 ['165.1' '49.50049496' 'Lindsay Lohan']
 ['172.72' '55.49924916' 'Lisa Kudrow']
 ['177.8' '58.49976024' 'Lucy Lawless']
 ['162.56' '47.50015424' 'Madonna']
 ['177.8' '58.49976024' 'Mandy Moore']
 ['175.26' '57.49958988' 'Mariah Carey']
 ['173.99' '76.50055875999999' 'Mark Wahlberg']
 ['177.8' '72.49987732' 'Matt Damon']
 ['163.0' '50.00171412' 'Megan Fox']
 ['175.0' '50.802304' 'Michael Jackson']
 ['164.0' '48.0013734' 'Miley Cyrus']
 ['172.72' '55.49924916' 'Milla Jovovich']
 ['177.8' '51.500835679999994' 'Naomi Campbell']
 ['162.56' '50.49839736' 'Natalie Portman']
 ['179.07' '55.49924916' 'Nicole Kidman']
 ['154.94' '44.49964316' 'Nicole Richie']
 ['179.07' '68.00024468000001' 'Orlando Bloom']
 ['170.18' '47.50015424' 'Pam / Pamela Anderson']
 ['172.72' '52.49873808' 'Paris Hilton']
 ['178.0' '48.9992758' 'Patrick Swayze']
 ['172.72' '49.50049496' 'Penelope Cruz']
 ['168.0' '51.500835679999994' 'Rachelle Lefevre']
 ['157.48' '46.49998388' 'Rachael Leigh Cook']
 ['157.0' '48.0013734' 'Rachel Miner']
 ['180.34' '76.50055875999999' 'Raven Symone']
 ['172.72' '51.500835679999994' 'Rebecca Gayheart']
 ['180.34' '58.49976024' 'Rebecca Romijn-Stamos']
 ['157.48' '52.49873808' 'Reese Witherspoon']
 ['172.72' '59.499930600000006' 'Rihanna']
 ['185.0' '78.99985068000001' 'Robert Pattinson']
 ['187.96' '81.00019139999999' 'Rodrigo Santoro']
 ['160.02' '46.49998388' 'Rose McGowan']
 ['177.8' '62.50044168000001' 'Rupert Grint']
 ['172.72' '68.99814708000001' 'Ryan Seacrest']
 ['170.18' '52.49873808' 'Sandra Bullock']
 ['157.48' '53.50117639999999' 'Salma Hayek']
 ['160.02' '46.49998388' 'Sarah Michelle Gellar']
 ['162.0' '50.999616520000004' 'Scarlett Johansson']
 ['157.48' '58.49976024' 'Shakira']
 ['175.26' '49.50049496' 'Shannon Elizabeth']
 ['162.56' '49.50049496' 'Shania Twain']
 ['177.8' '98.99872196' 'Sylvester Stallone']
 ['177.8' '55.49924916' 'Tyra Banks']
 ['165.1' '50.49839736' 'Tara Reid']
 ['167.64' '48.5003246' 'Teri Hatcher']
 ['180.34' '52.49873808' 'Taylor Swift']
 ['167.64' '49.50049496' 'Victoria Beckham']
 ['182.88' '98.99872196' 'Vin Diesel']
 ['167.64' '54.4990788' 'Zooey Deschanel']
 ['158' '64' 'Marta Formenton']
 ['176' '71.6' 'Vince Lynch']]

In [7]:
"""EXPORT THE DATA TO CSV INCASE THE WEBSITE WE SCRAPPED IT FROM GOES OFFLINE"""
import numpy as np
np.savetxt('height-weights.csv', data, delimiter=',')

TypeError: Mismatch between array dtype ('<U32') and format specifier ('%.18e,%.18e,%.18e')

In [ ]:
x  = data[:,0]
y = data[:,1]
#print(y)

plt.title('Celebrities')
plt.xlabel('Height (cm)')
plt.ylabel('Weight (kg)')

plt.scatter(x, y)
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use("ggplot")

from sklearn.cluster import KMeans

nData = data[:,:2]
#np.append(nData, [158,64])

newArr = nData

print(newArr)

In [ ]:

X = newArr

#X.reshape(-1, 1)

kmeans = KMeans(n_clusters=2)
kmeans.fit(X)

centroid = kmeans.cluster_centers_
labels = kmeans.labels_

print (centroid)
print(labels)

colors = ["g.","r."]

for i in range(len(X)):
   print ("coordinate:" , X[i], "label:", labels[i])
   plt.plot(X[i][0],X[i][1],colors[labels[i]],markersize=10)

plt.scatter(centroid[:,0],centroid[:,1], marker = "x", s=150, linewidths = 5, zorder =10)

plt.show()

In [ ]:
import pandas as pd

df = pd.DataFrame(data)
# add the labels column [boy/girl]
#print(df)
df[3] = labels
#df[3].replace(['girl', 'boy'], [1,0]) 
df[3].replace({0: 'Boy', 1: 'Girl'}, inplace=True)
print(df)